/*      RESET       */
* a {text-decoration: underline; color: inherit}
* a:hover {text-decoration: none}
* a:visited {text-decoration: none; color: inherit}
* ul {list-style-type: none}
* ol {list-style-type: none}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    display: block;
    background: white;
}

/*      CSS     */

body {
    background: url(images/DF-forest.png) no-repeat #fefff8;
    background-size:stretch;
    background-position: right;
/*
    filter: blur(5px);
    -webkit-filter: blur(5px);
*/
    /*    background: linear-gradient(white 75%, #caecd0);*/
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

header {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 200px 288px 0 0;
    border-color: #3bc7b0 transparent transparent transparent;
}

header > h1 {
    font-family: Geneva;
    font-weight: 100;
    text-shadow: 0px 0px 2px #f5ff6e;
    color: #f5ff6e;
/*    -webkit-text-stroke: 1px #2b302f;*/
    text-align: center;
    background-color: #766357;
    box-shadow: 0px 0px 2px 8px #766357;
}

main {
    display: flex;
    flex-direction: row;
}

main > p {
    font-family: Palatino;
    color: #2b302f;
}

footer {
    bottom: 0;
}

footer > p {
    font-family: Palatino;
    color: #2b302f;
    text-align: center;
}